#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.Diary {
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 370px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none; /* Запрещает выделение текста на  Google Chrome, Opera Next, Safari */
}
.calendar {
  transform: translate3d(0,0,0);
  transition: .4s;
}
.Month {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 10px;
}
.Month span {
    margin: 0 40px;
    padding: 5px;
    width: 170px;
    border-radius: 5px;
    cursor: pointer;
    color: gray;
}
.Month span:hover {
    color: #9f9f9f;
}
.content {
    display: flex;
    margin: 15px;
}
#table {
  margin: 0 auto;
}
.contentTh {
    height: 40px;
    color: gray;
    font-size: 17px;
}
.default {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 10px;
}
.leftToggle, .rightToggle  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftToggle:hover, .rightToggle:hover  {
    color: #9f9f9f;
}
.cell {
    height: 40px;
    width: 40px;
    background-color: white;
    
    border-radius: 10px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
}
.cell:hover {
    background-color: gray;
    font-weight: bold;
    color: white;
    font-size: 19px;
}
#month {
    position: relative;
}
.selectYear {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(0,-100%,0);
  transition: .4s;
}
.return {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -6px;
  font-size: 30px;
  cursor: pointer;
  color: gray;
}
